body {
    font-family: 'Arial', sans-serif;
    background-color: #929fa5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-container, .container {
    background-color: #f2f3f4;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    text-align: center;
}

.welcome-container h1, .container h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}

.welcome-container p {
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;
}

.start-button {
    display: inline-block;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0056b3;
}

.input-section, .button-section, .output-section {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

textarea, input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

textarea[readonly] {
    background-color: #f9f9f9;
}

textarea:focus, input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-section {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003f7f;
}